<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台登录</title>
    <link rel="stylesheet" href="#(ctxPath)/layui/css/layui.css">
    <style>
        #panel{
            box-shadow: -4px 7px 46px 2px rgb(0 0 0 / 10%);
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <script src="#(ctxPath)/jquery/jquery-3.6.0.js"></script>
    <script src="#(ctxPath)/layui/layui.js"></script>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4" id="panel">
                <div class="layui-row">
                    <div style="text-align: center;line-height: 8px;color: red; margin-top: 8px">
                        #(msg == null ? '&nbsp;' : msg)
                    </div>
                </div>
                <div class="layui-row">
                    <h1 style="text-align: center;line-height: 100px;">admin</h1>
                </div>
                <div class="layui-row">
                    <form action="#(ctxPath)/admin/user/login" method="POST" class="layui-form">
                        <div class="layui-form-item layui-col-md10 layui-col-md-offset1">
                            <input type="text" name="username" value="admin" id="username" class="layui-input"
                            placeholder="用户名">
                        </div>
                        <div class="layui-form-item layui-col-md10 layui-col-md-offset1">
                            <input type="password" name="password" value="123456" id="password" class="layui-input"
                            placeholder="密码" autocomplete="off">
                        </div>
                        <div class="layui-form-item layui-col-md10 layui-col-md-offset1">
                            <button class="layui-btn layui-btn-normal layui-btn-fluid">登录</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>
</html>